body {
    overflow-x: hidden;
}

.auth{
    height: 100vh;
}

.back-img{
    background-image: url("../img/black-auth.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.fp{
    margin-right: -45px;
}

.img-size{
    width: 15% !important;
}

.login-google:hover{
    background-color: #e6e6e6 !important;
}

/* Sidebar */
.sidebar-logo{
    width: 180px;
}

@media screen and (max-width: 576px) {
    .sidebar-logo{
        width: 80px;
    }
}
.nav-name{
    color: white !important;
}
.nav-link.active{
    color: #F59E0B !important;
    background-color: transparent !important;
}
.nav-name:hover{
    color: #ff6666 !important;
}

.nav-drop{
    color: #b3b3b3 !important;
}
/* End Sidebar */

.nav-top{
    margin-bottom: .15rem;
}

/* Manage */
.all-view{
    width: 90% !important;
}

.clr-icon{
    color: #F59E0B; 
}

.btn-clr{
    background-color: #F43F5E !important;
    border: 0 !important;
    margin-top: 20px;
}

.btn-clr:hover{
    background-color: #f10e34 !important;
}
/* End Manage */
