body {
    overflow-x: hidden;
}

.auth{
    height: 100vh;
}

.back-img{
    background-image: url("../img/black-auth.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.fp{
    margin-right: -45px;
}

.img-size{
    width: 15% !important;
}

.login-google:hover{
    background-color: #e6e6e6 !important;
}

.nav-top{
    margin-bottom: .15rem;
}

/* Sidebar */
.sidebar-logo{
    width: 180px;
}

@media screen and (max-width: 576px) {
    .sidebar-logo{
        width: 80px;
    }
}
.nav-name{
    color: white !important;
}
.nav-link.active{
    color: #F59E0B !important;
    background-color: transparent !important;
}
.nav-name:hover{
    color: #ff6666 !important;
}

.nav-drop{
    color: #b3b3b3 !important;
}
/* End Sidebar */

/* Dashboard */
.card-clr1{
    background-color: #EEF2FF !important;
    color: #3730A3 !important;
}

.card-clr2{
    background-color: #F0FDF4 !important;
    color: #166534 !important;
}
/* End Dashboard */

/* Manage */
.all-view{
    width: 90% !important;
}

.clr-icon{
    color: #F59E0B; 
}

.btn-clr{
    background-color: #F43F5E !important;
    border: 0 !important;
    margin-top: 20px;
}

.btn-clr:hover{
    background-color: #f10e34 !important;
}
/* End Manage */

/* Voucher */
.term-text{
    font-size: 10px;
}

.term-title-text{
    font-size: 12px;
}
/* End Voucher */

/* Redeem */
.redeem-success{
    color: #166534 !important;
    font-size: 18px;
}

.redeem-error{
   color: #F43F5E !important;
   font-size: 18px;
}
/* End Redeem */